<!DOCTYPE html>
<html lang="en">
    <%- include("./templates/head.ejs") %>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include("./templates/navbar.ejs") %>
    <h2 class="content-title">BLOG</h2>
    <div class="single-blog content">
        <div class="blog-container">
            <h4 class="user-name"><%= blog.name %></h4>
            <h3 class="blog-title"><%= blog.title %></h3>
            <p class="blog-description"><%= blog.description %></p>
            <a class="delete-btn" data-doc="<%= blog._id %>">Delete</a>
        </div>
    </div>
    <%- include("./templates/footer.ejs") %> 
    <script>
        const delBtn = document.querySelector('a.delete-btn');

        delBtn.addEventListener("click", (e) =>{
            
            const endpoint = `/blogs/${delBtn.dataset.doc}`;
            
            fetch(endpoint, {
                method: 'DELETE'
            })
            .then( (res) =>{res.json()})
            .then( (data) =>{ window.location.href = '/blogs' })
            .catch( err => {console.log(err)});
        })
    </script>
</body>
</html>